### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [16]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [17]:
total_players_count = len(purchase_data["SN"].unique())
total_players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
number_of_items = len(purchase_data["Item ID"].unique())

avg = purchase_data["Price"].mean()

number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

total_revenue = purchase_data["Price"].sum()
total_revenue

summary_df =pd.DataFrame({"Number Of Items":[number_of_items],
                          "Average Price":[avg],
                          "Total Purchases":[number_of_purchases],
                          "Total Revenue":[total_revenue]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

summary_df.head()

   Number Of Items Average Price  Total Purchases Total Revenue
0              183         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
purchase_data.drop_duplicates(subset="SN",keep='first', inplace=True)

players_count = purchase_data["Gender"].value_counts()
players_demo_df = pd.DataFrame(players_count)

players_demo_df = players_demo_df.rename(columns={"Gender":"Count"})
players_demo_df["Percentage"] = round((players_demo_df["Count"]/total_players_count)*100 ,2)

players_demo_df["Percentage"]  = players_demo_df["Percentage"] .map("{:,.2f}%".format)
players_demo_df.head()

                       Count Percentage
Male                     484     84.03%
Female                    81     14.06%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_data = purchase_data.groupby(["Gender"])

purchase_gender_count = gender_data["Purchase ID"].count()
purchase_gender_count 


gender_purchase_analysis = pd.DataFrame(purchase_gender_count)
gender_purchase_analysis = gender_purchase_analysis.rename(columns={"Purchase ID":"Count"})

gender_purchase_analysis["Purchase Average"]= gender_data["Price"].mean()
gender_purchase_analysis["Purchase Total"]= gender_data["Price"].sum()

gender_purchase_analysis["Purchase Average"] = gender_purchase_analysis["Purchase Average"].map("${:,.2f}".format)
gender_purchase_analysis["Purchase Total"] = gender_purchase_analysis["Purchase Total"].map("${:,.2f}".format)
gender_purchase_analysis.head()

                       Count Purchase Average Purchase Total
Gender
Female                    81            $3.17        $256.43
Male                     484            $3.05      $1,474.70
Other / Non-Disclosed     11            $3.41         $37.52

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
purchase_data.describe()

bins = [0,5,10,20,30,40,50]
age_group_names =["Grp1","Grp2","Grp3","Grp4","Grp5","Grp6"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=age_group_names, include_lowest=True)

group_total_count = purchase_data["Age Group"].count()

age_group_count = purchase_data["Age Group"].value_counts()

age_group_analysis = pd.DataFrame(age_group_count)
age_group_analysis

age_group_analysis = age_group_analysis.rename(columns={"Age Group":"Count"})

age_group_analysis["Age Group Percentage"]= round((age_group_analysis["Count"]/group_total_count)*100,2)

age_group_analysis["Age Group Percentage"]  = age_group_analysis["Age Group Percentage"].map("{:,.2f}%".format)
age_group_analysis.head()

      Count Age Group Percentage
Grp4    291               50.52%
Grp3    191               33.16%
Grp5     63               10.94%
Grp2     24                4.17%
Grp6      7                1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
agegrouped_purchase_data = purchase_data.groupby(["Age Group"])

agegrouped_purchase_count = agegrouped_purchase_data["Purchase ID"].count()

agegrouped_purchase_analysis = pd.DataFrame(agegrouped_purchase_count)

agegrouped_purchase_analysis = agegrouped_purchase_analysis.rename(columns={"Purchase ID":"Count"})

agegrouped_purchase_analysis["Average Purchase Price"]=agegrouped_purchase_data["Price"].mean()
agegrouped_purchase_analysis["Purchase Total"]=agegrouped_purchase_data["Price"].sum()

agegrouped_purchase_analysis["Average Purchase Price"] = agegrouped_purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
agegrouped_purchase_analysis["Purchase Total"] = agegrouped_purchase_analysis["Purchase Total"].map("${:,.2f}".format)

agegrouped_purchase_analysis.head()

           Count Average Purchase Price Purchase Total
Age Group
Grp1           0                   $nan          $0.00
Grp2          24                  $3.42         $82.18
Grp3         191                  $3.13        $597.27
Grp4         291                  $2.99        $871.05
Grp5          63                  $3.12        $196.62

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
sorted_top_spenders = agegrouped_purchase_analysis.sort_values("Purchase Total",ascending=False)

top_spenders =sorted_top_spenders.max()

print(top_spenders)

sorted_top_spenders.head()

Count                         291
Average Purchase Price       $nan
Purchase Total            $871.05
dtype: object

           Count Average Purchase Price Purchase Total
Age Group
Grp4         291                  $2.99        $871.05
Grp2          24                  $3.42         $82.18
Grp3         191                  $3.13        $597.27
Grp6           7                  $3.08         $21.53
Grp5          63                  $3.12        $196.62

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
popular_item = purchase_data[["Item ID", "Item Name","Price"]]

grouped_popular_item = popular_item.groupby(["Item ID", "Item Name"])

item_price_count = grouped_popular_item["Price"].value_counts()

popular_item_summary =pd.DataFrame(item_price_count)
popular_item_summary["Total Purchase"] = grouped_popular_item["Price"].sum()

popular_item_summary = popular_item_summary.rename(columns={"Price":"Purchase Count"})

popular_item_summary["Total Purchase"] = popular_item_summary["Total Purchase"].map("${:,.2f}".format)
popular_item_summary.head()

                                  Purchase Count Total Purchase
Item ID Item Name          Price
0       Splinter           1.28                4          $5.12
1       Crucifer           3.26                3          $9.78
2       Verdict            2.48                6         $14.88
3       Phantomlight       2.49                6         $14.94
4       Bloodlord's Fetish 1.70                5          $8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [20]:
profitable_item = popular_item_summary.sort_values("Total Purchase",ascending= False)

profitable_item.head()

                                   Purchase Count Total Purchase
Item ID Item Name           Price
63      Stormfury Mace      4.99                2          $9.98
3       Phantomlight        2.49                4          $9.96
2       Verdict             2.48                4          $9.92
173     Stormfury Longsword 4.93                2          $9.86
1       Crucifer            3.26                3          $9.78