### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(50)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
30,30,Idai61,19,Male,140,Striker,2.94
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38
34,34,Sondim73,19,Male,160,Azurewrath,4.40
35,35,Jeyciman68,22,Male,53,Vengeance Cleaver,2.05
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
39,39,Sondilsaya62,21,Male,172,Blade of the Grave,3.14
40,40,Aerithriaphos45,20,Male,143,Frenzied Scimitar,1.56
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73
45,45,Haerith37,23,Male,181,Reaper's Toll,1.66
46,46,Yasrisu92,27,Male,102,Avenger,3.44
47,47,Chanuchi25,20,Male,170,Shadowsteel,3.97
48,48,Asur96,20,Male,138,"Peacekeeper, Wit of Dark Magic",4.74
49,49,Iaralrgue74,33,Male,110,Suspension,1.44

## Player Count

* Display the total number of players

In [2]:
total_players_count = len(purchase_data["SN"].unique())
total_players_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
number_of_items = len(purchase_data["Item ID"].unique())

avg = purchase_data["Price"].mean()

number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases

total_revenue = purchase_data["Price"].sum()
total_revenue

summary_df =pd.DataFrame({"Number Of Items":[number_of_items],
                          "Average Price":[avg],
                          "Total Purchases":[number_of_purchases],
                          "Total Revenue":[total_revenue]})

summary_df["Average Price"] = summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)

summary_df.head()

   Number Of Items Average Price  Total Purchases Total Revenue
0              183         $3.05              780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_demo = purchase_data.copy()

gender_demo.drop_duplicates(subset="SN",keep='first', inplace=True)

players_count = gender_demo["Gender"].value_counts()
players_demo_df = pd.DataFrame(players_count)

players_demo_df = players_demo_df.rename(columns={"Gender":"Count"})
players_demo_df["Percentage"] = round((players_demo_df["Count"]/total_players_count)*100 ,2)

players_demo_df["Percentage"]  = players_demo_df["Percentage"] .map("{:,.2f}%".format)
players_demo_df.head(50)

                       Count Percentage
Male                     484     84.03%
Female                    81     14.06%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_data = purchase_data.groupby("Gender")

purchase_gender_count = gender_data["Purchase ID"].count()
purchase_gender_count 


gender_purchase_avg = gender_data["Price"].mean()
gender_purchase_total= gender_data["Price"].sum()


gender_purchase_avgpp =(gender_purchase_total)/players_demo_df["Count"]


gender_purchase_analysis = pd.DataFrame({"Total Purchase":(gender_purchase_total),
                                        "Purchase Average":(gender_purchase_avg),
                                        "Average Purchase Per Person":(gender_purchase_avgpp),
                                        "Count":(purchase_gender_count )})


gender_purchase_analysis["Purchase Average"] = gender_purchase_analysis["Purchase Average"].map("${:,.2f}".format)
gender_purchase_analysis["Total Purchase"] = gender_purchase_analysis["Total Purchase"].map("${:,.2f}".format)

gender_purchase_analysis["Average Purchase Per Person"] =gender_purchase_analysis["Average Purchase Per Person"].map("${:,.2f}".format)
gender_purchase_analysis.head()

,Total Purchase,Purchase Average,Average Purchase Per Person,Count
Gender,,,,
Female,$361.94,$3.20,$4.47,113
Male,"$1,967.64",$3.02,$4.07,652
Other / Non-Disclosed,$50.19,$3.35,$4.56,15

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0,10,14,19,24, 29,34,39,40]
age_group_names =["Grp1","Grp2","Grp3","Grp4","Grp5","Grp6","Grp7","Grp8"]

gender_demo["Age Group"] = pd.cut(gender_demo["Age"],bins, labels=age_group_names, include_lowest=True)

group_total_count = gender_demo["Age Group"].count()

age_group_count = gender_demo["Age Group"].value_counts()

age_group_analysis = pd.DataFrame(age_group_count)
age_group_analysis

age_group_analysis = age_group_analysis.rename(columns={"Age Group":"Count"})

age_group_analysis["Age Group Percentage"]= round((age_group_analysis["Count"]/group_total_count)*100,2)


age_group_analysis["Age Group Percentage"]  = age_group_analysis["Age Group Percentage"].map("{:,.2f}%".format)
age_group_analysis.head(50)

      Count Age Group Percentage
Grp4    258               45.34%
Grp3    107               18.80%
Grp5     77               13.53%
Grp6     52                9.14%
Grp7     31                5.45%
Grp1     24                4.22%
Grp2     15                2.64%
Grp8      5                0.88%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
bins = [0,10,14,19,24, 29,34,39,40]
age_group_names =["Grp1","Grp2","Grp3","Grp4","Grp5","Grp6","Grp7","Grp8"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=age_group_names, include_lowest=True)

agegrouped_purchase_data = purchase_data.groupby(["Age Group"])

agegrouped_purchase_count = agegrouped_purchase_data["Age Group"].count()

agegrouped_purchase_avg = agegrouped_purchase_data["Price"].mean()
agegrouped_purchase_total = agegrouped_purchase_data["Price"].sum()

agegrouped_purchase_avgpp = (agegrouped_purchase_total)/age_group_analysis["Count"]

agegrouped_purchase_analysis = pd.DataFrame({"Average Purchase Price":(agegrouped_purchase_avg),
                                            "Purchase Total":(agegrouped_purchase_total),
                                            "Average Purchase Per Person":(agegrouped_purchase_avgpp),
                                            "Count":(agegrouped_purchase_count)})

agegrouped_purchase_analysis["Average Purchase Price"] = agegrouped_purchase_analysis["Average Purchase Price"].map("${:,.2f}".format)
agegrouped_purchase_analysis["Purchase Total"] = agegrouped_purchase_analysis["Purchase Total"].map("${:,.2f}".format)

agegrouped_purchase_analysis["Average Purchase Per Person"]= agegrouped_purchase_analysis["Average Purchase Per Person"].map("${:,.2f}".format)

agegrouped_purchase_analysis.head(150)

     Average Purchase Price Purchase Total Average Purchase Per Person  Count
Grp1                  $3.40        $108.96                       $4.54     32
Grp2                  $2.68         $50.95                       $3.40     19
Grp3                  $3.04        $412.89                       $3.86    136
Grp4                  $3.05      $1,114.06                       $4.32    365
Grp5                  $2.90        $293.00                       $3.81    101
Grp6                  $2.93        $214.00                       $4.12     73
Grp7                  $3.60        $147.67                       $4.76     41
Grp8                  $2.79         $16.71                       $3.34      6

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
top_spender = purchase_data.groupby(["SN"])

top_spender_avg = top_spender["Price"].mean()

top_spender_total = top_spender["Price"].sum()

top_spender_count = top_spender["Price"].count()

top_spender_analysis = pd.DataFrame({"Average":top_spender_avg,
                                    "Purchase Total":top_spender_total,
                                    "Count":top_spender_count})

top_spender_analysis["Purchase_Total"]= top_spender_analysis["Purchase Total"].map("${:,.2f}".format)
top_spender_analysis["Average"]= top_spender_analysis["Average"].map("${:,.2f}".format)


top_spender = top_spender_analysis.sort_values("Purchase Total", ascending=False)

top_spender.head()

            Average  Purchase Total  Count Purchase_Total
SN
Lisosia93     $3.79           18.96      5         $18.96
Idastidru52   $3.86           15.45      4         $15.45
Chamjask73    $4.61           13.83      3         $13.83
Iral74        $3.40           13.62      4         $13.62
Iskadarya95   $4.37           13.10      3         $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
popular_item = purchase_data.loc[:,["Item ID", "Item Name","Price"]]

grouped_popular_item = popular_item.groupby(["Item ID", "Item Name"])

item_price_count = popular_item.groupby(["Item ID", "Item Name"]).count()["Price"]

popular_item_summary =pd.DataFrame(item_price_count)

popular_item_summary["Item Price"] = popular_item.groupby(["Item ID", "Item Name"]).max()["Price"]
popular_item_summary["Total Purchase"] = popular_item.groupby(["Item ID", "Item Name"]).sum()["Price"]

popular_item_summary = popular_item_summary.rename(columns={"Price":"Purchase Count"})


popular_item_summary["Total Purchase"] = popular_item_summary["Total Purchase"].map("${:,.2f}".format)
popular_item_summary["Item Price"] = popular_item_summary["Item Price"].map("${:,.2f}".format)

most_popular = popular_item_summary.sort_values("Purchase Count", ascending=False)

most_popular.head()

,,Purchase Count,Item Price,Total Purchase
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
most_profitable = most_popular.sort_values("Total Purchase", ascending=False)

most_profitable.head()

,,Purchase Count,Item Price,Total Purchase
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48